    :root {
    --primary-100:#0072C6;
    --primary-200:#5aa0f9;
    --primary-300:#caffff;
    --accent-100:#00B0F0;
    --accent-200:#00548d;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#FFFFFF;
    --bg-200:#f5f5f5;
    --bg-300:#cccccc;
    }