body {
    margin: 0px;
    padding: 0px;
}

.container-formulario {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 2rem;
}

.container-ficha {
    line-height: 0.8;
    color: black;
    border-radius: 1px;
    border-color: #000;
    border-style: solid;
    border-width: thin
}

#logocredimais {
    float: left;
    margin-right: 0.5rem;
}

.ficha-divisoria {
    color: black;
    background-color: #a9aab1;
    border-color: #000;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    font-weight: 900;
    text-align: center;
    display: block;
}