body{
    margin: 0;
    padding: 0;
    border: none;
}

.ocultar{
    display: none;
}
.span-1{
    text-align: justify;
    font-size: 12px;
    font-weight: 800;
    color: rgb(79, 79, 79);
}
.bg-stars{
    background-image: radial-gradient(2px 2px at 50px 200px, #eee, rgba(0, 0, 0, 0)),radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)),radial-gradient(3px 4px at 120px 40px, #ddd, rgba(0, 0, 0, 0));
    background-repeat: repeat;
    background-size: 250px 250px;
    opacity: 0;
    animation: zoom 10s infinite;
}
@keyframes zoom {
    0% {
      opacity: 0;
      transform: scale(0.5);
      transform: rotate(5deg);
      animation-timing-function: ease-in;
    }
  
    85% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.2;
      transform: scale(2.2);
    }
  }
.bg-resposive{
    background: url("image/hero-bg.webp") no-repeat;
    background-size: cover;
}
.bg-dark-1{
    background:#0D1117;
}
.bg-dark-2{
    background: #161B22;
}
.font-white{
    color: aliceblue;
}
.bg-card-dark{
    background: #161B22;
}
.sing-in-text{
    color: #00cfc8;
}
.roudend-1{
    border-radius: 10px;
}
.pt-10{
    padding-top: 10rem;
}
.font-page{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    line-height: 1.5;
}
.font-title-1{
    font-weight: lighter;
    font-size: 28px;
}
.font-subtitle-1{
    font-weight: 300;
}
.font-aling-title{
    margin-left: 85px;
}
.msn-boas-vindas{
    text-align: justify;
}
.form-control-dark{
    background: #0D1117;
    color: aliceblue;
}
.form-control-dark:focus{
    background: #0D1117;
    color: aliceblue;
}
.li-control-dark{
    background: #0D1117;
    color: aliceblue;
}
.li-control-dark:focus{
    background: #0D1117;
    color: aliceblue;
}
.link-dark span{
    color: aliceblue;
}
.link-dark:focus span{
    color: rgb(147, 145, 145);
}
.ul-control-dark{
    background: #0D1117;
}
.ul-control-dark:focus{
    background: #090c10;
}

.ul-control-dark li a{
    color: aliceblue;
}
.ul-control-dark li a:focus{
    color: #161B22;
}

.ul-control-dark li a span:focus{
    color: rgb(40, 40, 40);
}


.ul-span-dark:focus{
    background: antiquewhite;
    color: #161B22;
}
.btn-git-color{
    background: #1a6529;
    color: aliceblue;
}
.btn-git-color:hover{
    background: #238636;
    color: aliceblue;
}
.mini-card{
    padding: 10px 5px 10px 5px;
    margin: 15px;
    text-align: center;
    border: rgb(163, 164, 164) 0.5px solid;
    border-radius: 5px;
}
.border-1{
    border: rgb(163, 164, 164) 0.5px solid;
    border-radius: 5px;
}
.header .search-bar{
    background: #161B22;
}